@media(max-width:1199px) {
    .woman-image {
        position: absolute;
        bottom: 0;
        top: -130px;
        right: 9%;
    }
}

@media(max-width:991px) {
    .container {
        max-width: 700px;
    }

    section {
        padding: 60px 0;
    }

    .nav-button {
        display: none;
    }

    .nav-lists {
        background-color: #32334b;
        display: flex;
        justify-content: center;
        gap: 220px;
    }

    .ms-auto {
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    .navbar-toggler {
        color: #fff !important;
        background-color: transparent;
        border: 1px solid #ffffff7a;
    }

    .about-sec .heading,
    .video-reel-sec .heading {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 470px;
        float: none;
        margin: auto;
    }

    .play-btn {
        position: absolute;
        top: 30%;
        left: 40%;
    }

    .portfolio-content {
        position: relative;
        text-align: center;
    }

    .time-part {
        position: absolute;
        bottom: 5%;
        left: 13%;
    }

    .video-content {
        position: relative;
        text-align: center;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url(../images/toggler.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    .navbar-toggler:focus {
        border: 1px solid #ffffff7a;
        box-shadow: none;
    }

    h1 {
        font-size: 65px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: -2px;
    }

    .banner-sec .heading::before {
        content: "";
    }

    .counter-last {
        border-top: 0;
        border-left: 1px solid #F3D1BF;
    }

    .work-sec ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 50px 0 0;
        padding: 0;
    }

    .portfolio-image img {
        width: 100%;
        min-height: 500px;
        border-radius: 6px;
    }

    .get-start-sec .heading {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 250px;
        margin: auto;
    }

    .portfolio-sec .portfolio-list {
        display: none;
    }

    .get-start-box {
        background: #FDF0E9;
        width: 50%;
        border-radius: 6px;
        position: relative;
        padding: 100px 45px;
    }

    .team-sec .heading {
        max-width: 550px;
        margin-bottom: 50px;
    }

    .team-sec {
        padding: 114px 0;
        color: #fff;
    }

    .star-gift-image {
        position: absolute;
        top: -9%;
        left: 6%;
    }

    .woman-image {
        position: absolute;
        bottom: 0;
        top: -22%;
        right: 20%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    .pricing-sec .pricing-chart {
        border-radius: 6px 6px 0 0;
    }

    .pricing-sec .pricing-bottom {
        border-radius: 0 0 6px 6px !important;
    }

    .faq-sec .heading {
        margin-bottom: 50px;
    }

    .map-sec {
        display: none;
    }

    .map-mob-sec {
        display: block;
        background-color: #fdf0e9;
    }

    .main-map {
        background-image: url(../images/map.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 700px;
    }

    .map-mob-sec .location-image {
        position: absolute;
        top: 45%;
        right: 29%;
    }

    .map-mob-sec .location-image img {
        width: 70px;
    }

    .map-mob-sec .contact-box {
        background-color: #fff;
        padding: 60px;
        border-radius: 6px;
    }

    .map-mob-sec .contact-box form {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .map-mob-sec .contact-button {
        margin-top: 15px;
        text-align: end;
    }

    .map-mob-sec form input {
        height: 45px;
        border: 1px solid #F3D1BF !important;
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .form-control:focus {
        color: #212529;
        border: 1px solid #F3D1BF !important;
        outline: 0;
        box-shadow: none;
    }

    .map-mob-sec form select {
        height: 45px;
        border: 1px solid #F3D1BF !important;
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .map-mob-sec form select option {
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .map-mob-sec .form-select {
        background-image: url(../images/Triangle.png);
        background-size: 10px 5px;
    }

    .map-mob-sec .form-select:focus {
        border: 1px solid #F3D1BF !important;
        outline: 0;
        box-shadow: none;
    }

    .map-mob-sec form textarea {
        height: 95px;
        border: 1px solid #F3D1BF !important;
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .footer-top {
        text-align: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    footer hr {
        margin: 40px 0;
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .copyright {
        text-align: center;
    }

    .terms-policy {
        display: flex;
        justify-content: space-between;
    }

    .team-sec .dev-image img {
        height: 140px;
    }

    .team-sec .dev-image {
        border: 1px solid #3A3C56;
        border-radius: 6px;
        padding: 15px 15px 0 15px;
        display: flex;
        justify-content: center;
    }

    .portfolio-mob-list {
        display: block;
        margin-bottom: 50px;
    }

    .portfolio-mob-list select {
        height: 45px;
        border: 1px solid #F3D1BF !important;
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .portfolio-mob-list select option {
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .portfolio-mob-list .form-select {
        background-image: url(../images/Triangle.png);
        background-size: 10px 5px;
    }

    .portfolio-mob-list .form-select:focus {
        border: 1px solid #F3D1BF !important;
        outline: 0;
        box-shadow: none;
    }
}

@media(max-width:767px) {
    .container {
        max-width: 450px;
    }

    section {
        padding: 60px 0;
    }

    h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 48px;
    }

    .nav-button {
        display: none;
    }

    .ms-auto {
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    .navbar-toggler {
        color: #fff !important;
        background-color: transparent;
        border: 1px solid #ffffff7a;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url(../images/toggler.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    .navbar-toggler:focus {
        border: 1px solid #ffffff7a;
        box-shadow: none;
    }

    h1 {
        font-size: 50px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: -2px;
    }

    .banner-sec .heading::before {
        content: "";
    }

    .counter-last {
        border-top: 0;
        border-left: 1px solid #F3D1BF;
    }

    .work-sec ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 50px 0 0;
        padding: 0;
    }

    .portfolio-image img {
        min-height: 500px;
        border-radius: 6px;
    }

    .portfolio-sec .portfolio-list {
        display: none;
    }

    .get-start-box {
        background: #FDF0E9;
        width: 100%;
        border-radius: 6px;
        position: relative;
        padding: 100px 45px;
    }

    .star-gift-image {
        position: absolute;
        top: -9%;
        left: 6%;
    }

    .woman-image {
        position: absolute;
        bottom: 0;
        top: -23%;
        right: 46px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    .pricing-sec .pricing-chart {
        border-radius: 6px 6px 0 0;
    }

    .pricing-sec .pricing-bottom {
        border-radius: 0 0 6px 6px !important;
    }

    .faq-sec .heading {
        margin-bottom: 50px;
    }

    .map-sec {
        display: none;
    }

    .map-mob-sec {
        display: block;
        background-color: #fdf0e9;
    }

    .main-map {
        background-image: url(../images/map.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 700px;
    }

    .map-mob-sec .location-image {
        position: absolute;
        top: 45%;
        right: 40%;
    }

    .map-mob-sec .location-image img {
        width: 70px;
    }

    .map-mob-sec .contact-box {
        background-color: #fff;
        padding: 35px;
        border-radius: 6px;
    }

    .map-mob-sec .contact-box form {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .map-mob-sec .contact-button {
        margin-top: 15px;
        text-align: end;
    }

    .map-mob-sec form input {
        height: 45px;
        border: 1px solid #F3D1BF !important;
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .form-control:focus {
        color: #212529;
        border: 1px solid #F3D1BF !important;
        outline: 0;
        box-shadow: none;
    }

    .map-mob-sec form select {
        height: 45px;
        border: 1px solid #F3D1BF !important;
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .map-mob-sec form select option {
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .map-mob-sec .form-select {
        background-image: url(../images/Triangle.png);
        background-size: 10px 5px;
    }

    .map-mob-sec .form-select:focus {
        border: 1px solid #F3D1BF !important;
        outline: 0;
        box-shadow: none;
    }

    .map-mob-sec form textarea {
        height: 95px;
        border: 1px solid #F3D1BF !important;
        color: #391400A3;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }

    .footer-top {
        text-align: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    footer hr {
        margin: 40px 0;
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .copyright {
        text-align: center;
    }

    .terms-policy {
        display: flex;
        justify-content: space-between;
    }

    .team-sec .dev-image img {
        height: 140px;
    }

    .team-sec .dev-image {
        border: 1px solid #3A3C56;
        border-radius: 6px;
        padding: 15px 15px 0 15px;
        display: flex;
        justify-content: center;
    }

    .team-sec .heading {
        max-width: 550px;
        margin-bottom: 50px;
    }
}

@media(max-width:420px) {
    .container {
        max-width: 350px;
    }

    .woman-image {
        position: absolute;
        bottom: 0;
        top: -32%;
        right: 0;
    }
}
